<li id="activity_<%= activity_id %>" data-project_type="<%= type %>" data-activity_id="<%= activity_id %>" class="com-t-l todo_li" onclick="startproject(event)">
    <span class="toDoName"><%= title %></span>
</li>