<%- include('layouts/head') %>
    <div class="logo_icon">
        <a href="/"> <img src="/images/logo_icon.png" alt=""></a>
    </div>
    <div class="centered-form__form forgot-password">
        <form action="/forgot-password" method="POST">
            <div class="forpass-title">Forgot your password?</div>
            <div class="forpass-subtitle">
                No need to worry! we'll send you a link to reset your password.
            </div>
            <% if (error) { %>
                <div class="form-field">
                    <ul class="error-msg">
                        <% for(var i=0; i < error.length; i++) { %>
                            <li>
                                <%= error[i].msg %>
                            </li>
                            <% } %>
                    </ul>
                </div>
                <% } %>
                    <div class="form-field email-address">
                        <label>Email Address</label>
                        <input type="email" name="email" id="email" placeholder="example@workfreeli.com" autocomplete="off" required />
                    </div>
                    <div class="sign-up">
                        <button class="sendButton">Send Instructions</button>
                    </div>
                    <div style="width: 100%;height: 50px;margin-top: 15px;">
                        <div class="back">
                            <a href="/">Back</a>
                        </div>
                    </div>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.sendButton').css('pointer-events', 'none');
            $('.sendButton').css('background-color', '#dde9f7');
        });
        $('#email').on('keyup', function() {
            if (is_email($("#email").val().trim())) {
                $('.sendButton').css('pointer-events', 'unset');
                $('.sendButton').css('background-color', '#4A90E2');
            } else {
                $('.sendButton').css('pointer-events', 'none');
                $('.sendButton').css('background-color', '#dde9f7');
            }
        });
        function is_email(email){
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        } 
    </script>
    <%- include('layouts/foot') %>