<%- include('layouts/head') %>
    
    <div class="centered-form__form">
        <form action="/signup_activation/login" method="POST">
            <div class="logo_icon">
                <a href="/"> <img src="https://wfss001.freeli.io/common/freeli-logo.jpg" alt="" style="border-radius: 4px;"></a>
            </div>
            <!-- <input style="opacity: 0;position: absolute;">
    <input type="password" style="opacity: 0;position: absolute;"> -->
            <div class="hello-welcome-back">
                Welcome to Freeli
            </div>
            <div class="sign-into-your-account">
                Sign into your new account
            </div>
                    <% if (error) { %>
                        <div class="form-field" style="height:10px">
                            <ul class="error-msg">
                                <% for(var i=0; i < error.length; i++) { %>
                                    <li>
                                        <%= error[i].msg %>
                                    </li>
                                    <% } %>
                            </ul>
                        </div>
                        <% } %>
                            <div class="form-field email-address">
                                <input type="text" value="<%= name %>" disabled />
                                <input type="text" value="<%= email %>" disabled />
                                <input type="hidden" name="name" value="<%= name %>" />
                                <input type="hidden" name="email" id="email" value="<%= email %>" />
                                <input type="hidden" name="company_name" value="<%= comid %>" />
                                <input type="hidden" name="pass" value="<%= pass %>" />
                            </div>
                            <div class="form-field password">
                                <label>Password</label>
                                <input type="password" name="password" id="password" placeholder="Enter password" autocomplete="off" autofocus />
                            </div>
                            <div class="form-field forgotpass">
                                <div class="forgot-pass" style="display: none" onclick="window.location.href='/forgot-password';">Forgot Your Password ?</div>

                            </div>
                            <div class="remember-me">
                                <input type="checkbox" name="chkRememberMe" class="HoverCheckbox">
                                <p>Remember me</p>
                            </div>
                            <div class="sign-in">
                                <button class="sendButton">Sign In</button>
                            </div>
                            <!-- <div class="don-t-have-an-account">Don't have an account? <a href="/signup">Register.</a></div> -->
                            <div class="or-sign-in">
                                <div class="line"> </div>
                                <div class="or">or</div>
                                <div class="line right"> </div>
                            </div>
                            <div class="social-icon">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-google-plus-g"></i>
                                <i class="fab fa-windows windows-icon"></i>
                            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            // $('.sendButton').removeClass('active');
            $('input').keyup(function() {
                if ($("#email").val().trim() == "" || $("#password").val().trim() == "") {
                    $('.sendButton').removeClass('active');
                } else {
                    $('.sendButton').addClass('active');
                }
            });
        });

        setCookie('call_status', 'new', 1);
        setCookie('reloadstatus','newconf',1);
        setCookie('screenstatus','no',1);
    </script>
    <script>
    /**
     * Get the user IP throught the webkitRTCPeerConnection
     * @param onNewIP {Function} listener function to expose the IP locally
     * @return undefined
     */
        function getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
            //compatibility for firefox and chrome
            var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
            var pc = new myPeerConnection({
                iceServers: []
            }),
                noop = function () { },
                localIPs = {},
                ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
                key;

            function iterateIP(ip) {
                if (!localIPs[ip]) onNewIP(ip);
                localIPs[ip] = true;
            }

            //create a bogus data channel
            pc.createDataChannel("");

            // create offer and set local description
            pc.createOffer().then(function (sdp) {
                sdp.sdp.split('\n').forEach(function (line) {
                    if (line.indexOf('candidate') < 0) return;
                    line.match(ipRegex).forEach(iterateIP);
                });

                pc.setLocalDescription(sdp, noop, noop);
            }).catch(function (reason) {
                // An error occurred, so handle the failure to connect
            });

            //listen for candidate events
            pc.onicecandidate = function (ice) {
                if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
                ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
            };
        }

        // Usage
        const Cookei = {};
        getUserIP(function (ip) {
            Cookei[ip] = {
                ip:ip,
                uname:$("#email").val().trim(),
                pass:$("#password").val().trim()
            }

            setCookie('autoLogin', JSON.stringify(Cookei)  , 1);
        });

        if(localStorage.get_conversation_history !== undefined){
            localStorage.removeItem("get_conversation_history");
        }
</script>
    <%- include('layouts/foot') %>
