<%- include('layouts/head') %>
    <link href="/stylesheets/singup.css" rel="stylesheet">
    <div class="mailing_centered-form" style="width: 466px;">
        <form action="#" method="POST">
            <div class="massage_icon"><a href="/"> <img src="/images/Workfreeli_logo_full_connect.png" alt="workfreeli" style="border-radius: 4px;background-color: #023d67 !important"></a></div><br><br>
            <p class="didn-t-get" style="font-size: 25px;">Your password reset successfull</p><br><br>
            <div style="width: 100%;height: 50px;margin-top: 15px;">
                <div class="back">
                    <a href="/">Back</a>
                </div>
            </div>
        </form>
    </div>
<%- include('layouts/foot') %>