<%- include('layouts/head') %>
<style>
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
.sign-up{
    width: 100%;
    height: 40px;
    background: #417bfe;
    text-align: center;
    border-radius: 4px;
}
.sign-up a{
    position: relative;
    margin: auto;
    text-decoration: none;
    color: #FFF;
    font-family: "hvWorkSans";
    font-size: 18px;
    font-weight: 600;
    top: 10px;
}
</style>
    <div class="logo_icon">
        <a href="/"> <img src="/images/logo_icon.png" alt=""></a>
    </div>
    <div class="centered-form__form forgot-password">
        <form action="#" method="">
            <div class="forpass-title">Your email is verified.</div>
            <% if (error) { %>
                <div class="form-field">
                    <ul class="error-msg">
                        <% for(var i=0; i < error.length; i++) { %>
                            <li>
                                <%= error[i].msg %>
                            </li>
                            <% } %>
                    </ul>
                </div>
                <% } %>
                    <div class="form-field email-address">
                        <input type="text" value="<%= email %>" disabled="disabled" />
                        <input type="hidden" name="email" id="email" value="<%= email %>" />
                        <input type="hidden" name="pass" id="pass" value="<%= pass %>" />
                    </div>
                    <div class="form-field email-address">
                        <p style="text-align: center;position: relative;left: 40%;top: 8px;">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                        </p>
                        <p style="text-align: center;font-size: 60px;font-weight: 700;font-family: cursive;"><%= pass %></p>
                    </div>
                    <!-- <div class="form-field email-address">
                        <input type="password" name="newpass" id="newpass" placeholder="New Password" autocomplete="off" required />
                    </div>
                    <div class="form-field email-address">
                        <input type="password" name="conpass" id="conpass" placeholder="Confirm Password" autocomplete="off" required />
                    </div> -->
                    <div class="sign-up">
                        <a href="/settings/set-new-password/<%= email %>/<%= pass %>" class="sendButton">Continue</a>
                    </div>
                    <div style="width: 100%;height: 50px;margin-top: 15px;">
                        <div class="back">
                            <a href="/">Back</a>
                        </div>
                    </div>
        </form>
    </div>
    <script type="text/javascript">
    </script>
    <%- include('layouts/foot') %>