<%- include('layouts/head') %>
    <div class="centered-form__form signup_verify">
        <form action="/forgot-password/set-new-password" onsubmit="return validate()" method="POST"> 
            <div class="logo_icon">
                <a href="/">
                    <img src="/images/Workfreeli_logo_full_connect.png" alt="workfreeli" style="border-radius: 4px;background-color: #023d67 !important">
                </a>
            </div>
            <div class="hello-welcome-back">
                <%= title %>
            </div>
            <% if (error) { %>
                <div class="form-field">
                    <ul class="error-msg">
                        <% for(var i=0; i < error.length; i++) { %>
                            <li>
                                <%= error[i].msg %>
                            </li>
                            <% } %>
                    </ul>
                </div>
            <% } %>
            <div class="form-field">
                <label>Email Address</label><br>
                <% if(email != "") { %>
                    <input type="email" class="full_width" disabled value="<%= email %>">
                    <input type="hidden" name="email" id="email" value="<%= email %>">
                <% } %>
            </div>
            <div class="form-field">
                <label class="form_label" for="password">New PIN/Password</label>
                <input type="password"  class="full_width" id="newpass" name="newpass" minlength="6">
                <p class="validate1" style="color: red;"></p>
            </div>
            <div class="form-field">
                <label class="form_label" for="password">Confirm PIN/Password</label>
                <input type="password"  class="full_width" name="conpass" minlength="6" id="conpass">
            </div>
            <div class="sign-in">
                <input type="hidden" name="id" id="id" value="<%= id %>" />
                <input type="hidden" name="comid" id="comid" value="<%= comid %>" />
                <br><button type="submit" class="submitBtn " id="submitBtn">Save new PIN/Password</button>
                <br><br><div onclick="window.close();" class="cancleBtn btncss" id="cancleBtn"  >Cancel</div>
            </div>
        </form>
    </div>
<%- include('layouts/foot') %>
<script>
    function validate(){
        var p1 = $("#newpass").val().trim();
        var p2 = $("#conpass").val().trim();
        var result = true;
        if(p1 != p2){
            $(".validate1").text("Password and confirm password does not match.");
            result = false;
        }
        else if(p1 == '123456'){
            $(".validate1").text("You can not set your password like 123456.");
            result = false;
        }
        setTimeout(function(){
            $(".validate1").text("");
        }, 5000);
        return result;
    }
</script>