<%- include('layouts/head') %>
    <link href="/stylesheets/singup.css" rel="stylesheet">
    <div class="logo_icon">
        <a href="/"> <img src="https://wfss001.freeli.io/common/freeli-logo.jpg" alt="" style="border-radius: 4px;"></a>
        <span class="workfreeli_text">Workfreeli</span>
    </div>
    <div class="allmostdone_header">

        <div class="allmostdone">Almost done! </div>

    </div>

    <form class="frm_activition" id="frm_activition" action="/signup_complete" method="POST">
        <div class="centered_form_area">
            <div class="set_password_text">
                Set password for your Workfreeli account
            </div>
            <div class="password_box_area">
                <label for="newPassword" class="form_label">New password:</label>
                <input type="password" class="setPass pass-icon" name="newPassword" id="newPassword" placeholder="Password
">
                <p class="discribe_text">
                    Create a strong password that is at least 8 characters long. Include numbers, uppercase and lowercase letters to increase your password strength.
                </p>
            </div>

            <div class="password_box_area">
                <label for="confirmPassword" class="form_label">Confirm password:</label>
                <input type="password" name="confirmPassword" class="setPass pass-icon" id="confirmPassword" placeholder="Password
">
            </div>

            <div class="continue_submit_area">
                <button class="continue_submitBtn " type="submit" id="continue_submitBtn">Continue</button>

            </div>
            <div class="bottom-margin"></div>



            <% if (error) { %>
                <div class="form-field">
                    <ul class="error-msg">
                        <% for(var i=0; i < error.length; i++) { %>
                            <li>
                                <%= error[i].msg %>
                            </li>
                            <% } %>
                    </ul>
                </div>
                <% } %>
        </div>



    </form>




    <%- include('layouts/foot') %>