<%- include('layouts/head') %>

    <div class="centered-form__form signup_verify">
        <form action="/" method="POST">
            <div class="logo_icon">
                <a href="/">
                    <img src="/images/Workfreeli_logo_full_connect.png" alt="workfreeli" style="border-radius: 4px;background-color: #023d67 !important">
                </a>
            </div>
            <div class="hello-welcome-back">
                Signup
            </div>
            <% if (error) { %>
                <div class="error-msg" style="text-align: center;top: 35px;position: relative;z-index: 1;font-size: 16px;font-weight: bold;">
                    <%= error %>
                </div>
                <% } %>
                    <div class="form-field">
                        <label>Email Address</label><br>
                        <% if(email != "") { %>
                            <input type="email" class="full_width" disabled id="email" value="<%= email %>">
                            <input type="hidden" name="email" value="<%= email %>">
                            <% } %>
                    </div>
                    <div class="form-field input_area_helf">
                        <label for="fname">First Name</label>
                        <input type="text" class="half_width" required id="fname" value="<%= fname %>" name="first_name" placeholder="First Name">
                    </div>
                    <div class="form-field input_area_helf">
                        <label for="lname">Last Name</label>
                        <input type="text" class="half_width" required id="lname" value="<%= lname %>" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-field">
                        <label class="form_label" for="password">One time PIN/Password (OTP)</label>
                        <input type="text" class="full_width" id="password" name="password" placeholder="Enter your OTP">
                        <p class="discribe_text">This is for verification and security purposes only.</p>
                    </div>
                    <div class="checkboxdiv">
                        <input type="checkbox" name="agreement" id="agreement" value="yes"> <span class="agreement_text">I agree to the <a href="#"> Workfreeli agreement</a>, <a href="#">terms of service</a> and <a href="#">privacy policy</a></span>
                    </div>
                    <div class="sign-in">
                        <input type="hidden" name="guest_signup" value="1">
                        <br><button type="submit" class="submitBtn " id="submitBtn" disabled="true">Next</button>
                        <br><br>
                        <div onclick="close_window()" class="cancleBtn btncss" id="cancleBtn">Cancel</div>
                        <input type="hidden" name="account_type" value="Business">
                    </div>
        </form>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#agreement').change(function() {
                if (this.checked && $("#password").val() != "") {
                    $("#submitBtn").attr("disabled", false);
                } else {
                    $("#submitBtn").attr("disabled", true);
                }
            });
        });

        function close_window() {
            $("#removeWarning").css("display", "flex");
        }
    </script>

    <%- include('layouts/foot') %>
        <div class="backwrap" id="removeWarning" data-mute-id="" style="display: none;">
            <div class="hayven_Modal_Container">
                <div class="hayven_Modal_Content">
                    <h4 id="existRoomPrivate">Session has cancelled. You may close this tab/window now. Please use your email invitation link to come back to login session again.</h4>
                </div>
                <div class="hayven_Modal_endSection">
                    <div class="btn_group">
                        <button class="buttonAction" onclick="window.close();">Close</button>
                    </div>
                </div>
            </div>
        </div>