<%- include('layouts/head') %>
    <link href="/stylesheets/singup.css" rel="stylesheet">
    <div class="logo_icon">
        <a href="/"> <img src="https://wfss001.freeli.io/common/freeli-logo.jpg" alt="" style="border-radius: 4px;"></a>
        <span class="workfreeli_text">Workfreeli</span>
    </div>

    <div class="allmostdone_header">
        <div class="allmostdone">Invite Teammates to Workfreeli</div>

    </div>

    <form class="frm_activition" id="frm_activition" action="/signup_invite" method="POST">
        <div class="centered_form_area">
            <div class="invite_box_area">
                <input type="email" class="invitebox " name="inviteEmail[]" placeholder="Enter an email to invite">
            </div>
            <div class="invite_box_area">
                <input type="email" class="invitebox " name="inviteEmail[]" placeholder="Enter an email to invite">
            </div>
            <div class="invite_box_area">
                <input type="email" class="invitebox " name="inviteEmail[]" placeholder="Enter an email to invite">
            </div>
            <div class="add_invite_box_area">+ Add another invitee</div>
            <div class="field_wrapper"></div>

            <div class="invite_box_area">
                <label for="message" class="messageLabel form_label"> Add a message to your invitation (optional) </label>
                <textarea class="message" name="message" id="message" cols="50" rows="3" placeholder="Enter an email to invite"></textarea>
            </div>

            <div class="continue_submit_area">
                <button class="send_inviteCancleBtn" onclick="window.close()" type="button">Cancel</button>
                <button class="send_inviteBtn " type="submit" id="continue_submitBtn">Send Invites</button>
            </div>
            <div class="bottom-margin">
                <input type="hidden" name="type" value="<%= type %>">
                <input type="hidden" name="invite_by_email" value="<%= email %>">
                <input type="hidden" name="invite_by_comid" value="<%= comid %>">
            </div>
        </div>
    </form>




    <script type="text/javascript">
        $(document).ready(function() {
            var maxField = 10; //Input fields increment limitation
            var addButton = $('.add_invite_box_area'); //Add button selector
            var wrapper = $('.field_wrapper'); //Input field wrapper
            var fieldHTML = '<div><div class="invite_box_area"><input type="email" class="invitebox " name="inviteEmail[]" placeholder="Enter an email to invite"></div><a href="javascript:void(0);" class="remove_button">Remove</a><div>';


            var x = 1; //Initial field counter is 1

            //Once add button is clicked
            $(addButton).click(function() {
                //Check maximum number of input fields
                if (x < maxField) {
                    x++; //Increment field counter
                    $(wrapper).append(fieldHTML); //Add field html
                }
            });

            //Once remove button is clicked
            $(wrapper).on('click', '.remove_button', function(e) {
                e.preventDefault();
                $(this).parent('div').remove(); //Remove field html
                x--; //Decrement field counter
            });
        });
    </script>

    <%- include('layouts/foot') %>