<div id="info_forSub" class="create-channel connect_right_section" style="display: none;" update-action="false">
	<!-- <h2 class="create-channel-heading">Create a Topic</h2> -->
	<h2 class="create-topic-heading">Create a Room</h2>
	<!-- <img class="dir-msg-close back" onclick="closeRightSection()" src="/images/basicAssets/BackArrow.svg" alt="">
	<img class="dir-msg-close" onclick="closeRightSection()" src="/images/basicAssets/close_button.svg" alt=""> -->
	<span class="dir-msg-close back" onclick="closeRightSection()"></span>
	<div class="dir-msg-close closeModal" onclick="closeRightSection()"></div>

	<div class="name_and_profile" style="width: 50%;border-right: 1px solid #d8d8d8;display: inline-block;height: 300px;">
		<p  class="sub_info_">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p class="sub_info_">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
	</div>
    <div class="name_and_profile" style="width:50%;padding-left: 33px;float:right;padding-top: 0;">
        <div style="width: 100%; min-height: 300px;">
            <iframe width="100%" height="350px" src="https://www.youtube.com/embed/bxK-YfupQqs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
		
	</div>

	<div class="submitBtn">
		<button class="cancel" onclick="closeRightSection()">Cancel</button>
		<button class="create" id="continue_for_sub">Continue</button>
	</div>
</div>